__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.pot
*.py,cover
*.so
*.egg-info/
.env
.env.*
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
build/
dist/
local_settings.py
media/
staticfiles/
venv/
