{
    auto_https disable_redirects
    servers {
        protocols h1 h2
    }
}

(common_routes) {
    encode gzip zstd

    handle_path /static/* {
        root * /srv/static
        file_server
    }

    handle_path /media/* {
        root * /srv/media
        file_server
    }

    handle {
        reverse_proxy web:8000
    }
}

{$CADDY_DOMAIN}:80 {
    import common_routes
}

{$CADDY_DOMAIN}:443 {
    import common_routes
    tls {$CADDY_TLS}
}
